#header {
	// size & position
	position: relative;
	height: 18rem;
	margin-top: -18rem;

	// text info
	text-align: center;

	// flexbox params
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
}
