#header {
	// size & position
	height: 18rem;
	position: relative;
	margin-top: -18rem;
	padding: 4rem; // ? convert to css-var

	// text info
	text-align: center;

	// flexbox params
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;

	// dom integration
	pointer-events: none;

	* {
		pointer-events: auto;
	}
}
