@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alegreya:400,400i,700,700i&display=swap');
// @import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap');
// @import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,400i,700,700i&display=swap');
// @import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,700,700i&display=swap');
// @import url('https://fonts.googleapis.com/css?family=Literata:400,400i,700,700i&display=swap');


html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	font-family: alegreya, 'Alegreya', serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: 1.75;
}

@mixin block-font {
	// text info
	font-family: source-sans-pro, 'Source Sans Pro', sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.0625em;
	line-height: 1.125em;
	font-weight: 900;
}

@mixin input-font {
	// text info
	font-family: source-sans-pro, 'Source Sans Pro', sans-serif;
	font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
	@include block-font;

	// size & position
	font-size: 2rem;
	margin: 0 0 1.5rem 0;

	a {
		// text info
		color: inherit;
		text-decoration: none;

		// animation
		transition:
			color 0.25s ease-in-out;

		&:hover {
			color: rgb(24, 191, 239);
		}
	}
}

p {
	margin: 0 0 1.5em;
}

time {
	font-size: 0.875rem;
	margin: 0 0 0.75rem 0;
}

code {
	font-family: source-code-pro, 'Source Code Pro', monospace;
}

label {
	@include block-font;

	// box model display
	display: block;
	font-size: 0.75rem;
	margin: 0 0 0.5rem 0;
}

input[type='text'],
input[type='email'],
textarea {
	@include input-font;
	width: 100%;
	font-size: 1rem;
	padding: 0 0.75em;
	background-color: #ffffff;
	border-style: solid;
	border-color: lightgray;
	border-width: 2px;
	line-height: 2.25rem;
	margin: 0 0 1.5rem 0;
}

textarea {
	line-height: initial;
}

button.button,
a.button {
	@include block-font;

	// box model display
	display: inline-block;

	// size & position
	width: 100%;
	border-width: 0.125rem;
	padding: 0 2.5rem;

	// other appearances
	border-style: solid;
	border-color: black;
	background-color: transparent;

	// text info
	font-size: 0.75em;
	color: inherit;
	text-decoration: none;
	line-height: 3.5em;

	// animation
	transition:
		color 0.25s ease-in-out,
		border-color 0.25s ease-in-out;

	&:hover {
		color: rgb(24, 191, 239);
		border-color: rgb(24, 191, 239);
	}
}

img {
	display: block;
	width: 100%;
	object-fit: cover;
}

a.img-portal {
	display: block;
	width: 100%;
	margin: 1.5rem 0;
	overflow: hidden;
	img {
		transition:
			transform 0.25s;
		&:hover {
			transform:
				scale(1.03125);
		}
	}
}
