#splash {
	// size & position
	height: calc(100vh - 7rem);
	padding: 6rem 0;

	// text info
	color: whitesmoke;
	text-align: center;

	// flexbox params
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;

	h1 {
		font-size: 3rem;
	}

	p {
		font-style: italic;
	}
}
