#splash {
	// size & position
	height: 100vh;
	padding: 6rem 4rem;

	// text info
	color: whitesmoke;
	text-align: center;

	// flexbox params
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
}
