.story {
	padding: 3rem 2rem;
	text-align: center;

	h1 {
		font-size: 3rem;
	}

	p {
		margin: 0;
	}

	img {
		object-fit: cover;
		width: 100%;
	}

	time.date-published {
		display: block;
		width: 100%;
	}
}
