.story {
	padding: 3rem 2rem;
	text-align: center;
	border: solid 2px gainsboro;
	border-bottom: 0;

	h1 {
		font-size: 3rem;
		a {
			color: inherit;
			text-decoration: none;
			&:hover {
				color: rgb(24, 191, 239);
			}
		}
	}

	p {
		margin: 0;
		font-style: italic;
	}

	img {
		object-fit: cover;
		width: 100%;
	}

	time.date-published {
		display: block;
		width: 100%;
	}
}
