.story {
	padding: 2.5rem 2rem;
	text-align: center;
	border-top: solid 2px gainsboro;

	h1 {
		font-size: 2rem;
	}

	p {
		text-align: justify;
	}

	time.date-published {
		display: block;
		width: 100%;
	}

	&.major {
		p {
			font-style: italic;
		}

		h1 {
			font-size: 3rem;
		}
	}
}
